In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("TechInternQuiz.xlsx")

In [3]:
data.head()

,company,team,num_female_eng,num_eng,percent_female_eng,Location,Industry,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,10up,NaN,8,67,11.94,London,Fintech,NaN,NaN,NaN,NaN
1,1up talent,NaN,0,2,0.00,London,Healthtech,NaN,NaN,NaN,NaN
2,7digital,NaN,1,21,4.76,New York City,E-commerce,NaN,NaN,NaN,NaN
3,Activision,NaN,1,30,3.33,San diego,Electronics and components,NaN,NaN,NaN,FYI: the data on the statistics of tech compan...
4,Addepar,NaN,1,29,3.45,San Diego,FinTech,NaN,NaN,NaN,NaN

In [11]:
companies = []
for i in range(0,len(data)):
    if data.percent_female_eng[i] < 15:
        companies.append(data.company[i])

In [13]:
companies = map(lambda s: s.encode("utf-8"), companies)

In [14]:
companies

['10up',
 '1up talent',
 '7digital',
 'Activision',
 'Addepar',
 'AdRoll',
 'AeroFS',
 'Airbnb',
 'Apartment List',
 'appssavvy',
 'Asana',
 'Automattic',
 'Basecamp',
 'Bendyworks',
 'Birchbox',
 'Birst',
 'Brigade',
 'Capsher Technology',
 'charity water',
 'Checkout 51',
 'Circa',
 'circl, Brooklyn',
 'CirrusMio',
 'Codecademy',
 'Codurance, London',
 'Cognitect',
 'Coinbase',
 'Collective IDea',
 'Coursera',
 'creativeLIVE',
 'Delphix',
 'Disqus',
 'doxo',
 'DramaFever',
 'Dropbox',
 'Edmodo',
 'Elemental Technologies',
 'Ellation (fka Crunchyroll)',
 'Etsy',
 'Facebook',
 'FirstWatch Solutions',
 'Flatiron Health',
 'Flipboard',
 'Fog Creek Software',
 'foursquare',
 'GameChanger.io',
 'Gilt',
 'GitHub',
 'Goldbely',
 'Guidebook',
 'Harvest',
 'Headspring',
 'Hipmunk',
 'HootSuite',
 'HubSpot',
 'Imgur',
 'Inductive Automation',
 'Inkling',
 'Intercom',
 'Kaon Interactive, Inc.',
 'Keen IO',
 'Kiva',
 'Learnist',
 'Liferay',
 'Lola',
 'Lookout',
 'Massdrop',
 'Minted',
 'Moontoast',
 'Mozilla',
 'Narrative Science',
 'Nearsoft, Inc.',
 'New Bamboo, London',
 'Nextdoor',
 'Optimizely',
 'Outpace Systems',
 'PagerDuty',
 'Paperless Post',
 'Patreon',
 'PayPal',
 'Perforce',
 'PolicyStat',
 'Qstream',
 'Qualcomm',
 'Quantcast',
 'Quora',
 'Reddit',
 'Reverb',
 'SalesforceIQ',
 'Selerity',
 'Shift',
 'Shopatron',
 'shopkick',
 'Shyp',
 'Sifteo',
 'Sosh',
 'Stack Overflow',
 'StackMob',
 'Stratasan',
 'Stripe',
 'Tapad',
 'The New York Times',
 'The Playforge',
 'The Washington Post',
 'thoughtbot',
 'Topix',
 'Treehouse',
 'TuneIn',
 'Udacity',
 'uSwitch, London',
 'Vungle',
 'Watsi',
 'Webkite',
 'Wikimedia Foundation',
 'Yahoo',
 'Yelp',
 'Zendesk',
 'Zerocater']